<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css">  
</head>
<body>
    <h1 class="heading"><u>Explore your Inner Peace with us!</u></h1>
    <% for(let listing of listings){%>
<h2 class="title"><u><%=listing.title%></u></h2>
<image src="<%=listing.image%>"height="500" width="500" class="image"></image>
<h2 >What did you get: </h2>
<textarea rows="7" cols="80" name="description" class="description"><%=listing.description%></textarea>
<h3 class="price">Price:<%=listing.price%>$</h3>
<h3 class="location">Location:<%=listing.location%></h3>
<h3 class="country">Country:<%=listing.country%></h3>

<br>
<hr>

    <%}%>
</body>
</html>